
.addanswer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(243, 242, 240);


}
.sub-addanswer {

    display: flex;
    flex-direction: column;
    width: 100%;

}

.question-sec {
    margin: 10px 10px;
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid lightgrey;
}

.ans > p {
    margin-left: 10px;
    font-size: 23px;
}

.answer {
    margin: 10px 10px;
    width: 80%;
    height: fit-content;
    background-color: #fff;
    padding: 10px;
    border: 1px solid lightgrey;


}

.answer-btn {
    width: 80%;
    margin: 10px 10px;
    display: flex;
    justify-content: right;
}


.container > h3 {
    font-size: 30px;
    color: gray;
    margin-left: 10px;
}
.container > input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin-left: 8px;


}